@import "tailwindcss";

input {
  @apply border border-gray-300 rounded-md py-2 px-3 w-full focus:outline-none focus:ring-2 focus:ring-blue-500;
}

button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded cursor-pointer;
}
